{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>
<form action="{{ url_for('auth.login') }}" method="post">
    <label>Email</label>
    <input name="email" type="email" required>
    <label>Password</label>
    <input name="password" type="password" required>
    <button type="submit">Login</button>
</form>

<div style="margin-top: 1rem;">
  <a href="{{ url_for('mfa.login_totp') }}">Login with 2FA</a>
  &nbsp;·&nbsp;
  <a href="{{ url_for('mfa.mfa_enable') }}">Enable 2FA</a>
</div>

<p class="muted">No account? <a href="{{ url_for('auth.register') }}">Register</a>.</p>
<p> 
    <a class="btn btn-primary" href="{{ url_for('oauth2.oauth2_authorize', provider='github') }}">
  Login with GitHub
</a>
</p>



{% endblock %}